<head>
	<!-- Javascript -->
	<script src="{{ STATIC_URL }}js/d3/d3.js" type='text/javascript'></script>
	<script src="{{ STATIC_URL }}js/d3/d3.layout.js" type='text/javascript'> </script>
	<script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom/js/jquery-1.7.1.min.js" type='text/javascript'></script>	
	<script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom/js/jquery-ui-1.8.17.custom.min.js" type='text/javascript'></script>
	<script>
	// Definines the placement of queued cards
	function getNewCardOffset(){
		var newOffset = $("#cards_container").offset();
		newOffset.top += 5; 
		newOffset.left += 10;
		return newOffset;
	}
	
	// Get all JSON data for current session
	function updateDroppedCards(){
		var session_id = $("#session_select :selected").val();
		$.getJSON("/seventools/cardsession/json/", { id: session_id}, function(data) {
				console.log('json card data retrieved');
				var items = [];
				var card;
				var str = "<table><tr>";
				str += "<th>Name</th><th>x coord</th><th>y coord</th>";
				str += "</tr>";
				$.each(data, function(key,val) {
					card = val.fields;
					console.log(card.name + ": " + card.x_coord + ", " + card.y_coord);
					
					str += "<tr><td>" + card.name + "</td><td>" + card.x_coord + "</td><td>" + card.y_coord + "</td></tr>";
				})
				str += "</table>";
				$("#dropped_cards").html(str);
	    });
	    
	}
	
	// Namespace protected functions
	$(function() {
		// Initialize the drop area
		$( "#droppable" ).droppable();	
		// Move card from drop area back into queue
		function repossessCard(card){
			// Notify
			console.log('Repossesing card');
			console.log(card);
			
			// Position card
			card.offset(getNewCardOffset());
			
			// Move absolute position of all undroped down
			var spacing = card.outerHeight(true);
			$(".undropped_card").each(function(index,domE){
				// Define new position in terms of old position
				var o_offset = $(domE).offset();
				$(domE).offset({ top: o_offset.top + spacing, left: o_offset.left})
			})
			
			// Add and remove classes
			card.removeClass("dropped_card");
			card.addClass("undropped_card");
			
			// Reorganize order in document
			var cards = $("#cards_container").children();
			var cnt = cards.length;
			
			// Get the index of the re-queued card
			var newcard_index;
			for( var i = cnt - 1; i >= 0; i--){
				if($(cards[i]).hasClass("undropped_card")){
					newcard_index = i;
					break;
				}
			}
			
			// Reorder cards, moving the re-queued card to the top of the list
			var temp = cards[newcard_index];
			for( var i = newcard_index; i > 0; i--){
				cards[i] = cards[i - 1];
			}
			cards[0] = temp;

			// Remove old list and add new						
			$("#cards_container").children().remove(); // remove old items and replace
         	$("#cards_container").append(cards).children();
         	
         	// Bind relevant events to cards in queue and in drop area
         	$(".undropped_card").draggable({ revert: "invalid" });
         	$(".dropped_card").bind('dblclick',function(){
         		repossessCard($(this));
     		});			
		};
		
		// Determine where it was clicked
		$( "#droppable" ).bind( "dblclick", function(event) {
			var toffset = $(this).offset();
			var w = $(this).width();
			var h = $(this).height();
			var w_rel = (event.pageX - toffset.left)/(w);
			var h_rel = (event.pageY - toffset.top)/(h);
			alert(w_rel +'%, '+ h_rel + '%');
		})
		
		// Move a card from the queue into the drop area
		$( "#droppable" ).bind( "drop", function(event, ui) {

			console.log("card was dropped on canvas");
			
			// Determine position of dropped card on drop area
			var toffset = $(this).offset();
			var w = $(this).width();
			var h = $(this).height();
			var w_rel = (ui.draggable.offset().left - toffset.left)/(w);
			var h_rel = (ui.draggable.offset().top - toffset.top)/(h);
			
			// Add and remove relevant classes
			ui.draggable.removeClass("undropped_card");
			ui.draggable.addClass("dropped_card");
			
			// Move the card positions to fill gap left by dropped card
			var spacing = 0;
			$("#cards_container").children().each( function(index, domE){				
				if( $(domE).hasClass("undropped_card")){
					// Move each card down to fill space left by dropped card
					var o_offset = $(domE).offset();
					var ntop = o_offset.top - spacing;
					$(domE).offset({ top: ntop, left: o_offset.left})
				} else {
					// Track space left by dropped card
					spacing += $(domE).outerHeight(true);
				}
			})

			// Move the dropped card to the bottom of the queue
			var cards = $("#cards_container").children();
			var cnt = cards.length;
			
			var temp;
			for (var i = 0; i < cnt-1; i++){
				temp = cards[i];
				if( $(temp).hasClass("dropped_card")){
					// Move it to the bottom
					cards[i] = cards[i + 1];
					cards[i + 1] = temp;
				}				
			}
			
			// Remove old list and add new	
			$("#cards_container").children().remove();
         	$("#cards_container").append(cards).children();
         	
         	// Bind relevant events to cards in queue and in drop area
         	$(".undropped_card").draggable({ revert: "invalid" });
         	console.log("test1");
         	$(".dropped_card").bind('dblclick',function(){
         		repossessCard($(this));
     		});
     		
     		// Add card to database
 			console.log("adding card via xhr");
     		var card_name = ui.draggable.text();
     		var session_id = $("#session_select :selected").val();
     		$.get("/seventools/cardsession/addcard/", { name: card_name, session_id: session_id, x_coord: w_rel, y_coord: h_rel },
     		function(data){
     			console.log(data);
     		} );

		});
	})
	
	// Functions to call once when doc ready
	$(document).ready(function(){
		// Create a new card with the form
		$("#name_input").submit(function(){
			var card = $('#new_card').val();
			console.log('new card name: ' + card);

			// Position the new card
			var spacing = $(".draggable").outerHeight(true); // spcaing between cards in px, same for all cards
			console.log("n_undropped = " + $(".undropped_card").length)
			
			// Move all the cards down
			$(".undropped_card").each(function(){
				var o_offset = $(this).offset();
				$(this).offset({ top: o_offset.top + spacing, left: o_offset.left})
			})
			
			$(this).find(':text').val(''); // reset form to avoid duplicates
			
			// Create new card and prepend to list
			$('<div class="draggable ui-widget-content undropped_card">' + card + '</div>').prependTo($('#cards_container'))
																							.draggable({ revert: "invalid" })
																							.offset(getNewCardOffset());		
		})
		
	})
	</script>
	<!-- Styling -->
	<LINK href="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom/css/le-frog/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css">
	<style>
	.draggable { width: 100px; height: 30px; padding: 0.5em; position:fixed; margin: 10px 10px 10px 10px; }
	#droppable { width: 1000px; height: 500px; padding: 0.5em; float: left; margin: 10px 10px 10px 10px;
		border: 1px solid black;
		background-color:#ffffff;
  		opacity:0.6;
  		position:relative;
  		z-index:100;
	}
	#card_entry { float: left; }
	</style>

</head>
<body>
	<div id="card_entry">
		<h1>Create Cards</h1>
		
		<form id="name_input" action="javascript: var a=1;">
			New card: <input type="text" id="new_card" name="newcardname" /><br />
			<input type="submit" value="Submit" />
		</form>
		
		<div id="cards_container"></div>
	</div>
	
	<div id="droppable"></div>
	<form id = "session_select" action="javascript: updateDroppedCards();">
		<select>
  		{% for session in sessions %}
	  		<option value="{{ session.id }}">{{ session.name }}</option>
		{% endfor %}
		</select>
		<br/>
		<input type="submit" value="Update JSON"/>
	</form>
	<div id="dropped_cards"></div>
	
</body>