<html>
<head>
	<!-- Javascript -->
	<script src="{{ STATIC_URL }}js/d3/d3.js" type='text/javascript'></script>
	<script src="{{ STATIC_URL }}js/d3/d3.layout.js" type='text/javascript'> </script>
	<script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom/js/jquery-1.7.1.min.js" type='text/javascript'></script>	
	<script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom/js/jquery-ui-1.8.17.custom.min.js" type='text/javascript'></script>
		<!-- Files to correct jQuery's handling of svg dom objects -->
	<script src="{{ STATIC_URL }}js/jquery.svg/jquery.svg.js" type='text/javascript'></script>
	<script src="{{ STATIC_URL }}js/jquery.svg/jquery.svgdom.js" type='text/javascript'></script>
	<script>
	// Define card sizes
	var card_width = 10;
	var card_height = 6;
	var dropHEIGHT = 500;
	var dropWIDTH = dropHEIGHT * 2;
	var cardSizeMulti = 8; // how much smaller are the cards on the svg
	var cardRoundedFactor = 0.02;
	var card_vis;
	var max_text_size = 40; // The longest name allowed for a card

	// Get all JSON data for current session into table
	function updateSessionTable(data) {
		// Use the data already collected for svg
		// format: {id, x, y, name} as {id, x, y, name}
		var str = "<tr>";
		//str += "<th>Card Name</th><th>x coord</th><th>y coord</th>";
		str += "<th>id</th><th>Card Name</th><th>x coord</th><th>y coord</th>";
		str += "</tr>";
		$.each(data, function(key,val) {
			str += "<tr><td>" + val.id + "</td><td>" + val.name + "</td><td>" + (val.x) + "</td><td>" + (val.y)+ "</td></tr>";
		})
		$("#dropped_cards").html(str);
	}
	
	// Namespace protected functions
	$(function() {
		// Initialize the drop area
		$( "#droppable" ).droppable();	
		
		// Determine where it was clicked
		/**
		$( "#droppable" ).bind( "dblclick", function(event) {
			var toffset = $(this).offset();
			var w = $(this).width();
			var h = $(this).height();
			var w_rel = (event.pageX - toffset.left)/(w);
			var h_rel = (event.pageY - toffset.top)/(h);
			//alert(w_rel +'%, '+ h_rel + '%');
			
			// send coords as well as size being used for card
			var card_h = card_height/h;
			var card_w = card_width/w;
			var session_id = $("#session_select :selected").val();
			console.log("Recalling card")
     		$.getJSON("/seventools/cardsession/recallcard/", { height: card_h, width: card_w, x_coord: w_rel, y_coord: h_rel, session_id: session_id }, 
     		function(data) {
     			// refresh view
     			console.log("Card recalled");     			console.log(data);
     			console.log(data.deleted_name);
     			if(data.deleted_name !== ""){
	     			update_cards ();
	     			addCardToQueue(data.deleted_name);
     			}
     		});
     		console.log("Finished recalling card")
		})
		//**/
		
		// Move a card from the queue into the drop area
		$( "#droppable" ).bind( "drop", function(event, ui) {

			console.log("card was dropped on canvas");
			
			// Determine position of dropped card on drop area
			var toffset = $(this).offset();
			var w = $(this).width();
			var h = $(this).height();
			var w_rel = (ui.draggable.offset().left - toffset.left)/(w);
			var h_rel = (ui.draggable.offset().top - toffset.top)/(h);
    		
     		// Add card to database
 			console.log("adding card via xhr");
     		var card_name = ui.draggable.parents("tr").find("textarea").val();
     		
     		var session_id = $("#session_select :selected").val();
     		$.get("/seventools/cardsession/addcard/", { name: card_name, session_id: session_id, x_coord: w_rel, y_coord: h_rel },
     		function(data){
     			console.log(data);
     			if(data !== "Card added"){
					alert(data);
     			}

				// Remove card from the queue
				ui.draggable.parents("tr").remove();
				
     			// Wait for card to be added before updating
				update_cards ();
     		});
		});
	})
	
	// Create a new card by passing the new name
	function addCardToQueue(card){
		console.log('new card name: ' + card);

		// Position the new card
		var spacing = $(".draggable").outerHeight(true); // spcaing between cards in px, same for all cards
		
		// Move all the cards down
		$(".undropped_card").each(function(){
			var o_offset = $(this).offset();
			$(this).offset({ top: o_offset.top + spacing, left: o_offset.left})
		})
		
		// Create new card and prepend to list		
		var ncard = '<tr><td><textarea>' + card + '</textarea></td><td><div class="draggable ui-widget-content undropped_card shadow"></div></td></tr>';
		var added = $(ncard).prependTo($('#cards_container'));
		added.find("div").draggable({ revert: "invalid" });
		
		// Realign
		// This doesn't seem to be working here like it does in the command line
		$('#cards_container div').each(function(k,v){v.style.top = 0});
												
		console.log("n_undropped = " + $(".undropped_card").length)
	}
	
	// Functions to call once when doc ready
	$(document).ready(function(){
		// Create a new card with the form
		$("#name_input").submit(function(){
			var card = $('#new_card').val();
			addCardToQueue(card);		
			$(this).find(':text').val(''); // reset form to avoid duplicates
		})
		$("#session_select :input").change(function(){
			update_cards ();
		})
		
		$('textarea').change(function() {
		  alert('Text changed.');
		});
		

		/* 
		 * card_visualisation
		 */
		// variables
		var w = 1000,
			h = 500;
		
		// An svg element, top-lft origin
		card_vis = d3.select("#droppable").append("svg") // this is an svg
			.attr("width",w)
			.attr("height",h)
			.attr("class","card_visualisation")
			.style("padding-right","30px")
		
		// Add a g element to contain the cards and allow relatove movement
		body = card_vis.append("g")
			.attr("transform", "translate(0,0)");
		
		/** Come back to this
		var brush = d3.svg.brush()
			.on("brushstart", brushstart)
			.on("brush", brush)
			.on("brushend", brushend);
		//**/
		
		// Call the update function		
		update_cards();
	})
	
	// Redraw cards
	function update_cards() {
		// Collect data
		var all_card_data = cardPositionData();
		
		// Add a container for each card
		var card_disp = body.selectAll("g")
		    .data(all_card_data, function(d) { return d.name; }); // sort by output order from django data model
		   
		// Identify the entering nodes with their own variable
	   	var card_disp_enter = card_disp.enter().append("g")
	      	.attr("class","svg_card")
			.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; }) // transform to x and y for card
			.attr("font-size",card_width*cardSizeMulti/9)
			.on("click", selectSvgCard)
			.on("dblclick", function(d){ changeCardName(d.name, this)})
			.call(d3.behavior.drag()
	            .on("drag", drag)
	         )

		// Add rectangle
		card_disp_enter.append("rect")
			.attr("x", 1)
	      	.attr("y",1)
			.attr("width", card_width*cardSizeMulti)
			.attr("height", card_height*cardSizeMulti)
			.attr("rx", card_width*cardRoundedFactor)
			.attr("ry", card_height*cardRoundedFactor)

		// Add and position text
		// 3 text elements are used to wrap 3 lines
		var nlines = 1;
		var cardMiddleWidth = card_width*cardSizeMulti/2;
		var cardMiddleHeight = card_height*cardSizeMulti/2;
		var line_spacing = 10;
		card_disp_enter.append("text")
			.attr("x", cardMiddleWidth)
			.attr("text-anchor", "middle")
			.text(function (d) { text = splitString(d.name, 12); nlines = text.length; return text[0]; })
			.attr("y", cardMiddleHeight - line_spacing/2*(nlines-1))
		
		// Subsequent text boxes can return array values that don't existi with no error
		card_disp_enter.append("text")
			.attr("x", cardMiddleWidth)
			.attr("text-anchor", "middle")
			.text(function (d) { text = splitString(d.name, 12); nlines = text.length; return text[1]; })
			.attr("y", cardMiddleHeight + line_spacing  - line_spacing/2*(nlines-1))
			
		card_disp_enter.append("text")
			.attr("x", cardMiddleWidth)
			.attr("text-anchor", "middle")
			.text(function (d) { text = splitString(d.name, 12); nlines = text.length; return text[2]; })			
			.attr("y", cardMiddleHeight + 2*line_spacing - line_spacing/2*(nlines-1))
			
		// Transition and exit
		card_disp.transition().duration(0)
			.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; }); // transform to x and y for card
		
		// Not getting red of old cards
		card_disp.exit()
			.transition().duration(500)
			.attr("transform", function(d) { return "translate(" + -card_width*cardSizeMulti + "," + d.y + ")"; })
				.remove ();
		
		// Update table display too
		updateSessionTable(all_card_data);
	}
	
	// Check if this has class
	function selectSvgCard () {
		var test_class = 'clicked_svg_card';

		if ($(this).hasClass(test_class)) {
			// Split class data
			console.log(this);
			$(this).removeClass(test_class);
			console.log(this);
			console.log("Card de-selected");
		} else {
			console.log(this);
			$(this).addClass(test_class);
			console.log(this);
			console.log("Card selected");
		}
	}
	
	// Save all cards to server
	function saveCardsToDB() {
		// Print out all card info
		var allCards = $(".svg_card");
		var allCardsArray = new Array(allCards.length);
		var nextCard = new Object();
		allCards.each(function(k,v){
			nextCard.id = v.__data__.id;
			nextCard.name = v.__data__.name;
			nextCard.x = v.__data__.x;
			nextCard.y = v.__data__.y;
						
			allCardsArray[k] = nextCard;
		})
		console.log(allCardsArray);
		
		// POST all card data
		// Not working yet
		// http://ask.metafilter.com/154077/How-do-I-read-a-JSON-object-in-Python
		// Work to integrate this with backbone.js instead
		$.post("/seventools/cardsession/saveallcards/", { "cards[]": allCardsArray }, function(data) {
			alert(data);
		})
	}	
	
	// Change the name of the card
	function changeCardName(cname, ccard) {
		// Change to provide validation; no empty name (no action taken)
		var name = prompt("Please enter a new name",cname);
		if (name!=null && name!="")
		{
			// change name
			text = splitString(name, 12);
			nlines = text.length;
			$($(ccard).find("text")[0]).text(text[0]);
			$($(ccard).find("text")[1]).text(text[1]);
			$($(ccard).find("text")[2]).text(text[2]);
			console.log("Card name changed");
		} else {
			// Nothing
			console.log("Card name not changed");
		}
	}
	
	// Function to call on svg drag
	// change to drag regardless of class, but all move
	// check position at end
	// https://github.com/mbostock/d3/wiki/Drag-Behavior#wiki-on
	function drag(d,i){
		var test_class = 'clicked_svg_card';
		$(this).addClass(test_class);
		
		// Adjust data
		d.x += d3.event.dx;
		d.y += d3.event.dy;
		
		// Check to see if its gone off the page
		// Change to make drag to right a pure delete
		// To remove, update data model then refresh d3
		if( d.x < 0 || d.y < 0) {
			console.log("off to left or top");
			addCardToQueue(d.name);
		} else if ( d.x > dropWIDTH || d.y > dropHEIGHT) {
			console.log("off to bottom or right");
			addCardToQueue(d.name);
		}
		
		// Move it
		d3.select(this).attr("transform", "translate(" + d.x + "," + d.y + ")");
    }
	
	// Card position data
	function cardPositionData () {
		// Intialize variables
		var session_id = $("#session_select :selected").val();
		var dataset = [];
		
		// Define function to run on completion
		function getCardDataD3(data){	
			var card;
			$.each(data, function(key,val) {
				card = val.fields;
				var ncard = {
					id: key,
					x: (card.x_coord * dropWIDTH),
					y: (card.y_coord * dropHEIGHT),
					name: card.name
				}
				dataset.push (ncard);
			})
		}
		
		// Collect data synchronously so it can be processed by D3 upon return
		// Try to rethink this so sync calls are not necessary
		$.ajax({
		    type: 'GET',
		    url: "/seventools/cardsession/json/",
		    dataType: 'json',
		    success: function(data){getCardDataD3(data)},
		    data: { id: session_id},
		    async: false
		});
	
		//console.log("Number of cards to be plotted: " + dataset.length);
		//console.log(dataset);
		return dataset;
	}
	
	// Split string into equal sized parts
	// Maxlength denotes the # chars after which a new word should not be started
	function splitString(s, maxlength){
		// The length of the string
		var s_array = new Array();
		var total_length = s.split("").length;
		if(total_length < maxlength){
			s_array[0] = (s);
			return s_array;
		} else {
			// return array
			var c_string = "";
			var c_length = 0;
			var array_l = 0;
			$(s.split(" ")).each(function(){
				c_length += this.split("").length;
				c_string += this + " ";
				if(c_string.split("").length > maxlength){
					s_array[array_l] = $.trim(c_string);
					c_string = "";
					c_length = 0;
					array_l++;
				}
			})
			if(c_string.split("").length > 0){
				s_array[array_l] = c_string;				
			}
			return s_array;
		}
	}
		
	</script>
	<!-- Styling -->
	<style>
	.draggable { 
		background-color: #F8F5E1; 
		width: 10px; 
		height: 6px; 
		padding: 0.5em;
		margin: 10px 10px 10px 10px;
		border: 1px solid black;
		z-index:100;
	}
	#droppable {
		padding: 0.5em;
		float: left;
		margin: 10px 10px 10px 10px;
		border: 1px solid black;
  		position:relative;
  		z-index:50;
	}
	#card_entry { float: left; }
	table th { border: 1px solid black;}
	table td { border: 1px solid black;}
	#cards_container tr {
		border: 1px solid black;
	}
	#cards_container textarea {
		resize: none;
	}
	svg {
		border: 1px solid #000;
		z-index:60;
	}
	.card_visualisation {
		position:relative;
		z-index:1;
	}	
	.shadow {
	  -moz-box-shadow:    3px 3px 5px black;
	  -webkit-box-shadow: 3px 3px 5px black;
	  box-shadow:         3px 3px 5px black;
	}
	.draggable {
		font-family: "Courier New", Courier, monospace;
	}
	.svg_card{
		opacity:0.8;
		font-family: "Courier New", Courier, monospace;
	}
	.svg_card rect {
		fill: #F8F5E1;
		stroke: black;
	}
	.clicked_svg_card rect {
		fill: #FF0000;
		opacity:0.6;
	}
	.selecting rect {
	  fill-opacity: .2;
	}
	
	.selecting rect.selected {
	  stroke: #f00;
	}
	</style>
</head>
<body>
	<div id="card_entry">
		<h1>Create Cards</h1>
		
		<form id="name_input" action="javascript: var a=1;">
			New card: <input type="text" id="new_card" maxlength = "40" name="newcardname" /><br />
			<input type="submit" value="Submit" />
		</form>
		
		<table id="cards_container"></table>
	</div>
	
	<div id="droppable"></div>
	<h2>Select Session</h2>
	<form id = "session_select">
		<select>
  		{% for session in sessions %}
	  		<option value="{{ session.id }}">{{ session.name }}</option>
		{% endfor %}
		</select>
	</form>
	<button onclick="saveCardsToDB()">Save Cards to Database</button>
	<table id="dropped_cards"></table>
	<button onclick="update_cards()">Update SVG</button>
	
</body>
	
</html>