<head>
	<!-- Javascript -->
	<script src="{{ STATIC_URL }}js/d3/d3.js" type='text/javascript'></script>
	<script src="{{ STATIC_URL }}js/d3/d3.layout.js" type='text/javascript'> </script>
	<script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom/js/jquery-1.7.1.min.js" type='text/javascript'></script>	
	<script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom/js/jquery-ui-1.8.17.custom.min.js" type='text/javascript'></script>
	<script>
	// Define card sizes
	var card_width = 100;
	var card_height = 30;
	var dropHEIGHT = 500;
	var dropWIDTH = dropHEIGHT*2;
	var cardSizeMulti = 0.5; // how much smaller are the cards on the svg
	var cardRoundedFactor = .1;
	var card_vis;
	
	// Definines the placement of queued cards
	function getNewCardOffset(){
		var newOffset = $("#cards_container").offset();
		newOffset.top += 5;
		newOffset.left += 10;
		return newOffset;
	}
	
	/*
	 * Resize functions are un-tested
	 */
	function resizeCards(p){
		card_width = card_width*p;
		card_height = card_height*p;
		// draggable
		$(".draggable").attr("width", card_width).attr("height", card_height);
		update_cards ();
	}
	
	function resizeDropArea(p){
		dropHEIGHT = dropHEIGHT*p;
		dropWIDTH = dropWIDTH*p;
		// card_visualisation
		$("#card_visualisation").attr("width", dropWIDTH).attr("height", dropHEIGHT);
		update_cards ();
	}
	
	// Get all JSON data for current session into table
	function updateSessionTable(data){
		// Use the data already collected for svg
		// format: {id, x, y, name} as {id, value1, value2, value3}
		var str = "<tr>";
		str += "<th>Card Name</th><th>x coord</th><th>y coord</th>";
		str += "</tr>";
		$.each(data, function(key,val) {
			// console.log(val.value3 + ": " + (val.value1) + ", " + (val.value2));
			str += "<tr><td>" + val.value3 + "</td><td>" + (val.value1) + "</td><td>" + (val.value2)+ "</td></tr>";
		})
		$("#dropped_cards").html(str);
	}
	
	// Namespace protected functions
	$(function() {
		// Initialize the drop area
		$( "#droppable" ).droppable();	
		
		// Determine where it was clicked
		$( "#droppable" ).bind( "dblclick", function(event) {
			var toffset = $(this).offset();
			var w = $(this).width();
			var h = $(this).height();
			var w_rel = (event.pageX - toffset.left)/(w);
			var h_rel = (event.pageY - toffset.top)/(h);
			//alert(w_rel +'%, '+ h_rel + '%');
			
			// send coords as well as size being used for card
			var card_h = card_height/h;
			var card_w = card_width/w;
			var session_id = $("#session_select :selected").val();
			console.log("Recalling card")
     		$.getJSON("/seventools/cardsession/recallcard/", { height: card_h, width: card_w, x_coord: w_rel, y_coord: h_rel, session_id: session_id }, 
     		function(data) {
     			// refresh view
     			console.log("Card recalled");     			console.log(data);
     			console.log(data.deleted_name);
     			if(data.deleted_name !== ""){
	     			update_cards ();
	     			addCardToQueue(data.deleted_name);
     			}
     		});
     		console.log("Finished recalling card")
		})
		
		// Move a card from the queue into the drop area
		$( "#droppable" ).bind( "drop", function(event, ui) {

			console.log("card was dropped on canvas");
			
			// Determine position of dropped card on drop area
			var toffset = $(this).offset();
			var w = $(this).width();
			var h = $(this).height();
			var w_rel = (ui.draggable.offset().left - toffset.left)/(w);
			var h_rel = (ui.draggable.offset().top - toffset.top)/(h);
			
			// Add and remove relevant classes
			ui.draggable.removeClass("undropped_card");
			ui.draggable.addClass("dropped_card");
			
			// Move the card positions to fill gap left by dropped card
			var spacing = 0;
			$("#cards_container").children().each( function(index, domE){				
				if( $(domE).hasClass("undropped_card")){
					// Move each card down to fill space left by dropped card
					var o_offset = $(domE).offset();
					var ntop = o_offset.top - spacing;
					$(domE).offset({ top: ntop, left: o_offset.left})
				} else {
					// Track space left by dropped card
					spacing += $(domE).outerHeight(true);
				}
			})
    		
     		// Add card to database
 			console.log("adding card via xhr");
     		var card_name = ui.draggable.text();
     		var session_id = $("#session_select :selected").val();
     		$.get("/seventools/cardsession/addcard/", { name: card_name, session_id: session_id, x_coord: w_rel, y_coord: h_rel },
     		function(data){
     			console.log(data);
     			
     			// Wait for card to be added before updating
				update_cards ();
     		});
     		
			// Remove card from the queue
			ui.draggable.remove();

		});
	})
	
	// Create a new card by passing the new name
	function addCardToQueue(card){
		console.log('new card name: ' + card);

		// Position the new card
		var spacing = $(".draggable").outerHeight(true); // spcaing between cards in px, same for all cards
		console.log("n_undropped = " + $(".undropped_card").length)
		
		// Move all the cards down
		$(".undropped_card").each(function(){
			var o_offset = $(this).offset();
			$(this).offset({ top: o_offset.top + spacing, left: o_offset.left})
		})
		
		// Create new card and prepend to list
		$('<div class="draggable ui-widget-content undropped_card">' + card + '</div>').prependTo($('#cards_container'))
																						.draggable({ revert: "invalid" })
																						.offset(getNewCardOffset());
	}
	
	// Functions to call once when doc ready
	$(document).ready(function(){
		// Create a new card with the form
		$("#name_input").submit(function(){
			var card = $('#new_card').val();
			addCardToQueue(card);		
			$(this).find(':text').val(''); // reset form to avoid duplicates
		})
		$("#session_select :input").change(function(){
			update_cards ();
		})

		// card_visualisation
		card_vis = d3.select("#card_visualisation");
		update_cards ();
		
	})
	
	// D3 functions
	function update_cards () {
		var all_card_data = cardPositionData();
		var cards = card_vis.selectAll("rect")
				.data(all_card_data)
		cards
			.enter()
				.insert("svg:rect")
					.attr("x", function (d) { return d.value1; })
					.attr("y", function (d) { return d.value2; })
					.style("fill", "green")
					.style("stroke", "black")
				.insert("svg:text")
					.text(function (d) { return d.value3; })
		
		cards
			.transition().duration(0)
				.attr("x", function (d) { return d.value1; })
				.attr("y", function (d) { return d.value2; })
				.attr("rx", card_width*cardRoundedFactor)
				.attr("ry", card_height*cardRoundedFactor)
				.attr("width", card_width*cardSizeMulti)
				.attr("height", card_height*cardSizeMulti)
	
		cards.exit ()
			.transition().duration(1000)
				.attr("width", 0)
					.remove ();
	
		// Update the table every time this is called
		updateSessionTable(all_card_data);
	}
	
	// Card position data
	function cardPositionData () {
		// Intialize variables
		var session_id = $("#session_select :selected").val();
		var dataset = [];
		
		// Define function to run on completion
		function getCardDataD3(data){	
			var card;
			$.each(data, function(key,val) {
				card = val.fields;
				var ncard = {
					id: key,
					value1: (card.x_coord * dropWIDTH),
					value2: (card.y_coord * dropHEIGHT),
					value3: card.name
				}
				dataset.push (ncard);
			})
		}
		
		// Collect data synchronously so it can be processed by D3 upon return
		$.ajax({
		    type: 'GET',
		    url: "/seventools/cardsession/json/",
		    dataType: 'json',
		    success: function(data){getCardDataD3(data)},
		    data: { id: session_id},
		    async: false
		});
	
		//console.log("Number of cards to be plotted: " + dataset.length);
		//console.log(dataset);
		return dataset;
	}
		
	</script>
	<!-- Styling -->
	<LINK href="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom/css/le-frog/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css">
	<style>
	.draggable { width: 100px; height: 30px; padding: 0.5em; position:fixed; margin: 10px 10px 10px 10px; }
	#droppable { width: 1000px; height: 500px; padding: 0.5em; float: left; margin: 10px 10px 10px 10px;
		border: 1px solid black;
		background-color:#ffffff;
  		opacity:0.6;
  		position:relative;
  		z-index:100;
	}
	#card_entry { float: left; }
	#dropped_cards th { border: 1px solid black;}
	#dropped_cards td { border: 1px solid black;}
	svg {
		border: 1px solid #000;
	}
	#card_visualisation {
		position:relative;
		z-index:1;
	}
	</style>

</head>
<body>
	<div id="card_entry">
		<h1>Create Cards</h1>
		
		<form id="name_input" action="javascript: var a=1;">
			New card: <input type="text" id="new_card" name="newcardname" /><br />
			<input type="submit" value="Submit" />
		</form>
		
		<div id="cards_container"></div>
	</div>
	
	<div id="droppable">
		<svg id="card_visualisation" width="1000" height="500"></svg>
	</div>
	<h2>Select Session</h2>
	<form id = "session_select">
		<select>
  		{% for session in sessions %}
	  		<option value="{{ session.id }}">{{ session.name }}</option>
		{% endfor %}
		</select>
	</form>
	<table id="dropped_cards"></table>
	<button onclick="update_cards()">Update SVG</button>
	
</body>